@using SantiyeTakipOtomasyon.Models.Siniflar
@model List<Tedarikci>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br>

<div class="card card-default">
    <div class="card-header">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11">
                <strong>Tedarikçi İşlemleri</strong>
            </h5>
            <a href="#" class="btn btn-primary ekle col-md-1" data-target="@Url.Action("ModalAc", "Tedarikci")">Yeni Kayıt</a>
        </div>
    </div>

    <div style="margin-left:1%; margin-right:1%">
        <br />
        <table id="liste" class="table table-bordered table-hover table-sm" style="margin-top:20px">
            <thead>
                <tr class="warning">
                    <th style="width:3%"><small><strong>Firma Kodu</strong></small></th>
                    <th style="width:15%"><small><strong>Firma</strong></small></th>
                    <th style="width:15%"><small><strong>İlgili Kişi</strong></small></th>
                    <th style="width:25%"><small><strong>Adres</strong></small></th>
                    <th style="width:5%"><small><strong>Telefon</strong></small></th>
                    <th style="width:5%"><small><strong>Gsm</strong></small></th>
                    <th style="width:15%"><small><strong>E-posta</strong></small></th>
                    <th style="width:5%"><small><strong>Tedarik Türü</strong></small></th>
                    <th style="width:30%"><small><strong>Konu</strong></small></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var t in Model)
            {
                <tr>
                    <td><small>@t.TedKod</small></td>
                    <td><small>@t.TedFirma</small></td>
                    <td><small>@t.TedIlgiliKisi</small></td>
                    <td><small>@t.TedAdres @t.Ilceler.IlceAdi/@t.Iller.Sehir</small></td>
                    <td><small>@t.TedTelefon</small></td>
                    <td><small>@t.TedGsm</small></td>
                    <td><small>@t.TedEposta</small></td>
                    <td><small>@t.TedarikTur.TurAd</small></td>
                    <td><small>@t.TedKonu</small></td>
                    <td><a href="#" class="btn btn-success btn-sm guncelle" data-target="@Url.Action("TedarikciGetir", "Tedarikci")/@t.TedarikciId">Güncelle</a></td>
                </tr>
            }
        </table>
    </div>

    <div class="container">
        <!--Modal -->
        <div class="modal fade" id="myModalE" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--Modal -->
        <div class="modal fade" id="myModalG" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("body").on("click", ".ekle", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalE .modal-body").html(data);
                    $("#myModalE").modal("show");
                })
                .fail(function () {
                    $("#myModalE .modal-body").text("Hata!!");
                    $("#myModalE").modal("show");
                })
        });
    });
    $(function () {
        $("body").on("click", ".guncelle", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalG .modal-body").html(data);
                    $("#myModalG").modal("show");
                })
                .fail(function () {
                    $("#myModalG .modal-body").text("Hata!!");
                    $("#myModalG").modal("show");
                })
        });
    });

    $('#liste').DataTable({
        "language": {

            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"

        }
    });
</script>
