@model SantiyeTakipOtomasyon.Models.Siniflar.Tedarikci
<div class="container p-2 bg-dark text-white">
    <form action="@Url.Action("TedarikciGuncelle", "Tedarikci")" method="post">
        <div class="modal-header">
            <h5 class="modal-title">Tedarikçi Güncelle</h5>
        </div>
        <br />
        @Html.HiddenFor(x => x.TedarikciId)
        <div style="margin-left:70px">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" st>Tedarikçi Kod</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.TedKod, new { @class = "form-control", @style = "width:75px;" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Firma/Şahıs</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.TedFirma, new { @class = "form-control", @style = "width:400px;" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">İlgili Kişi</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.TedIlgiliKisi, new { @class = "form-control", @style = "width:300px;" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Adres</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.TedAdres, new { @class = "form-control", @style = "width:400px;" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">İl</label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(x => x.IllerId, (List<SelectListItem>)ViewBag.iList, new { @class = "form-control", @style = "width:200px" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">İlce</label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(x => x.IlcelerId, (List<SelectListItem>)ViewBag.ilcList, new { @class = "form-control", @style = "width:260px" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Telefon</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.TedTelefon, new { @class = "form-control", @style = "width:150px;" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Gsm</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.TedGsm, new { @class = "form-control", @style = "width:150px;" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">E-Posta</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.TedEposta, new { @class = "form-control", @style = "width:300px;" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tedarik Tür</label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(x => x.TedarikturId, (List<SelectListItem>)ViewBag.tList, new { @class = "form-control", @style = "width:200px" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Konu</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.TedKonu, new { @class = "form-control", @style = "width:400px;" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
            <button class="btn btn-success">Güncelle</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#IllerId').change(function () {
            var IlId = $(this).val();
            var IlceL = $('#IlcelerId');
            IlceL.empty();
            $.ajax({
                url: '@Url.Action("IlceListe","Tedarikci")',
                type: 'POST',
                dataType: 'json',
                data: { 'IlId': IlId },
                success: function (data) {
                    $.each(data, function (index, option) {
                        IlceL.append('<option value=' + option.Value + '>' + option.Text + '</option>');
                    });
                }
            });
        });
    });
</script>