@model SantiyeTakipOtomasyon.Models.Siniflar.FaturaDetay

<div class="container p-2 bg-dark text-white">
    <form action="@Url.Action("FaturaDetayGuncelle", "Fatura")" method="post">
        <div class="modal-header">
            <h5 class="modal-title">Fatura Detay Güncelle</h5>
        </div>
        <br />
        <div style="margin-left:70px">
            <div class="form-horizontal">
                @Html.HiddenFor(x => x.FaturaId, new { @value = ViewBag.faturaId })
                @Html.HiddenFor(x => x.FaturaDetayId)
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" st>Mal/Hizmet</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.FdCinsi, new { @class = "form-control", @style = "width:400px;" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Miktar</label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(x => x.FdMiktar, new { @class = "form-control", @style = "width:70px; text-align:right;", @type = "number", @id = "FdMktr" })
                    </div>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(x => x.BirimId, (List<SelectListItem>)ViewBag.bList, new { @class = "form-control", @style = "width:100px" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Birim Fiyat</label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(x => x.FdBirimFiyat, new { @class = "form-control", @style = "width:100px; text-align:right;", @id = "FdBrmFiyat" })
                    </div>
                    <div class="col-sm-2">
                        @Html.DropDownListFor(x => x.DovizId, (List<SelectListItem>)ViewBag.dList, new { @class = "form-control", @style = "width:90px" })
                    </div>
                    <label class="col-sm-1 col-form-label">Kur</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.FdKur, new { @class = "form-control", @style = "width:70px; text-align:right;", @id = "Kr" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Birim Fiyat(TL)</label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(x => x.FdBirimFiyatTl, new { @class = "form-control", @style = "width:100px; text-align:right;", @id = "FdBrmFiyatTl", @readonly = "readonly" })
                    </div>
                    <label class="col-sm-2 col-form-label">Kdv Oran(%)</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.KdvId, (List<SelectListItem>)ViewBag.kList, new { @class = "form-control", @style = "width:80px; text-align:right;", @id = "FKdvId" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Kdv Tutar</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.KdvTutar, new { @class = "form-control", @style = "width:100px; text-align:right;", @id = "FdKdvTutar", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tutar</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.FdTutar, new { @class = "form-control", @style = "width:100px; text-align:right;", @id = "FdTtr", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
            <button class="btn btn-success">Güncelle</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function hesapla() {
        var BirimFiyat = document.getElementById("FdBrmFiyat").value;
        var BrmFiyat = BirimFiyat.replace(/,/g, '.');
        var Kur = document.getElementById("Kr").value;
        var Kr = Kur.replace(/,/g, '.');
        var Miktar = document.getElementById("FdMktr").value;
        var KdvOran = $("#FKdvId option:selected").text();

        var BirimFiyatTl = (parseFloat(BrmFiyat) * parseFloat(Kr)).toFixed(2);
        var Tutar = BirimFiyatTl * Miktar;
        var KdvTutar = ((Tutar * KdvOran) / 100).toFixed(2);

        var BrmFiyatTl = new Number(BirimFiyatTl).toLocaleString("tr-TR");
        var Ttr = new Number(Tutar).toLocaleString("tr-TR");
        var Kdvttr = new Number(KdvTutar).toLocaleString("tr-TR");

        document.getElementById("FdBrmFiyatTl").value;
        $("#FdBrmFiyatTl").val(BrmFiyatTl);
        $("#FdTtr").val(Ttr);
        $("#FdKdvTutar").val(Kdvttr);
    }
    setInterval("hesapla()", 100);
</script>

