@model SantiyeTakipOtomasyon.Models.Siniflar.Fatura

<div class="card card-default">
    <div class="card-header bg-dark">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11" style="color:white">
                <strong>Fatura Güncelleme</strong>
            </h5>
        </div>
    </div>
    <div class="container">
        <form action="@Url.Action("FaturaGuncelle", "Fatura")" method="post">
            <hr />
            @Html.HiddenFor(x => x.ProjeId, new { @value = ViewBag.projeId })
            @Html.HiddenFor(x => x.FaturaId)
            <div class="form-horizontal">
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right" st><b>Fatura No</b></label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.FatSiraNo, new { @class = "form-control", @style = "width:80px;", @maxlength = "6" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right"><b>Fatura Tarihi</b></label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.FatTarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", @style = "width:160px;", @type = "date" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right"><b>Firma/Şahıs</b></label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(x => x.TedarikciId, (List<SelectListItem>)ViewBag.tList, new { @class = "form-control", @style = "width:400px" })
                    </div>
                </div>
                <br />
                <div class="container form-group-sm row">
                    <label class="col-form-label-sm col-md-3 text-right"><b>Ödeme Şekli</b></label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(x => x.OdemeSekliId, (List<SelectListItem>)ViewBag.oList, new { @class = "form-control", @style = "width:150px" })
                    </div>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                <button class="btn btn-success">Güncelle</button>
            </div>
        </form>
    </div>
</div>