@using SantiyeTakipOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<div class="card bg-secondary text-white">
    <div class="card-body">Proje Adı : @ViewBag.proAd</div>
</div>
<br>

<div class="card card-default">
    <div class="card-header">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11">
                <strong>Personel İşlemleri</strong>
            </h5>
            <a href="#" class="btn btn-primary ekle col-md-1" data-target="@Url.Action("ModalAc", "Personel")/@ViewBag.projeId">Yeni Kayıt</a>
        </div>
    </div>
    <br />

    <!--Personel Listesi-->

    @if (Model.Count() != 0)
    {
        <div style="margin-left:1%; margin-right:1%">
            <table id="liste" class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th style="width:5%">Id</th>
                        <th style="width:15%">Personel Adı</th>
                        <th style="width:30%">Personel Adresi</th>
                        <th style="width:5%">Telefon</th>
                        <th style="width:10%">İşe Giriş Tarihi</th>
                        <th style="width:10%">İşten Çıkış Tarihi</th>
                        <th style="width:20%">Görevi</th>
                        <th style="width:10%">Çalışma Dönemi</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var p in Model)
                {
                    <tr>
                        <td class="" style="cursor:pointer;cursor:hand;" data-toggle="" data-target="">@p.PersonelId</td>
                        <td class="" style="cursor:pointer;cursor:hand;" data-toggle="" data-target="">@p.PerAd @p.PerSoyad</td>
                        <td class="" style="cursor:pointer;cursor:hand;" data-toggle="" data-target="">@p.PerAdres @p.Ilceler.IlceAdi/@p.Iller.Sehir</td>
                        <td class="" style="cursor:pointer;cursor:hand;" data-toggle="" data-target="">@p.PerTelefon</td>
                        <td class="" style="cursor:pointer;cursor:hand; text-align:center;" data-toggle="" data-target="">@string.Format("{0:dd/MM/yyyy}", p.PerIseGirisTarihi)</td>
                        <td class="" style="cursor:pointer;cursor:hand; text-align:center;" data-toggle="" data-target="">@string.Format("{0:dd/MM/yyyy}", p.PerIstenCikisTarihi)</td>
                        <td class="" style="cursor:pointer;cursor:hand;" data-toggle="" data-target="">@p.PerGorev</td>
                        <td class="" style="cursor:pointer;cursor:hand;" data-toggle="" data-target="">@p.PerCalismaDonemi</td>
                        <td><a href="@Url.Action("PersonelIzin", "Personel")/@p.PersonelId" class="btn btn-info btn-sm">İzin</a></td>
                        <td><a href="#" class="btn btn-success btn-sm guncelle" data-target="@Url.Action("PersonelGetir", "Personel")/@p.PersonelId">Güncelle</a></td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <div class="card-body">
            <h3 style="color:red;">Boş!</h3>
        </div>
    }
</div>

<div class="container">
    <!--Ekle Modal -->
    <div class="modal fade" id="myModalE" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!--Güncelle Modal -->
    <div class="modal fade" id="myModalG" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!--Bilgi Modal -->
    <div class="modal fade" id="myModalB" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $("body").on("click", ".ekle", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalE .modal-body").html(data);
                    $("#myModalE").modal("show");
                })
                .fail(function () {
                    $("#myModalE .modal-body").text("Hata!!");
                    $("#myModalE").modal("show");
                })
        });
    });
    $(function () {
        $("body").on("click", ".guncelle", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalG .modal-body").html(data);
                    $("#myModalG").modal("show");
                })
                .fail(function () {
                    $("#myModalG .modal-body").text("Hata!!");
                    $("#myModalG").modal("show");
                })
        });
    });
    $(function () {
        $("body").on("click", ".bilgi", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalB .modal-body").html(data);
                    $("#myModalB").modal("show");
                })
                .fail(function () {
                    $("#myModalB .modal-body").text("Hata!!");
                    $("#myModalB").modal("show");
                })
        });
    });

    $('#liste').DataTable({
        "language": {

            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"

        }
    });
</script>

