@using SantiyeTakipOtomasyon.Models.Siniflar
@model List<PersonelPuantaj>
@{
    ViewBag.Title = "PersonelPuantaj";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<div class="card bg-secondary text-white">
    <div class="card-body">Proje Adı : @ViewBag.projeId -  @ViewBag.proAd</div>
</div>
<br>

<div class="card card-default">
    <div class="card-header">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-10">
                <strong>Personel İşlemleri</strong>
            </h5>
            @Html.DropDownList("selection", (List<SelectListItem>)ViewBag.aList, "Ay Seçin", new { @class = "form-control col-md-1", @style = "width:100%" })
            <a href="@Url.Action("PersonelPuantajOlustur", "Personel")/@ViewBag.projeId" class="btn btn-primary col-md-1" data-target="">Güncelle</a>
        </div>
    </div>
    <br />

    <!--Personel Listesi-->


    <div style="margin-left:1%; margin-right:1%">
        <table id="liste" class="table table-bordered table-responsive table-hover table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Personel</th>
                    <th>Yıl</th>
                    <th>Ay</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th style="width:20%">5</th>
                    <th style="width:20%">6</th>
                    <th style="width:20%">7</th>
                    <th style="width:20%">8</th>
                    <th style="width:20%">9</th>
                    <th style="width:20%">10</th>
                    <th style="width:20%">11</th>
                    <th style="width:20%">12</th>
                    <th style="width:20%">13</th>
                    <th style="width:20%">14</th>
                    <th style="width:20%">15</th>
                    <th style="width:20%">16</th>
                    <th style="width:20%">17</th>
                    <th style="width:20%">18</th>
                    <th style="width:20%">19</th>
                    <th style="width:20%">20</th>
                    <th style="width:20%">21</th>
                    <th style="width:20%">22</th>
                    <th style="width:20%">23</th>
                    <th style="width:20%">24</th>
                    <th style="width:20%">25</th>
                    <th style="width:20%">26</th>
                    <th style="width:20%">27</th>
                    <th style="width:20%">28</th>
                    <th style="width:20%">29</th>
                    <th style="width:20%">30</th>
                    <th style="width:20%">31</th>
                </tr>
            </thead>
            @if (Model.Count() != 0)
            {
                int j = 0;
                foreach (var p in Model)
                {
                    <tr>
                        <td>@p.PersonelId</td>
                        <td>@p.Personel.PerAd @p.Personel.PerSoyad</td>
                        <td>@p.PuaYil</td>
                        <td>@p.PuaAy</td>
                        <th scope="row">
                            <div class="form-check">
                                @*@Html.CheckBox("", p.PuaGun1())*@
                                <input class="form-check-input" type="checkbox" id="@p.PuaGun1">
                            </div>
                        </th>
                        @*<td>@p.PersonelId</td>
                            <td>@p.Personel.PerAd @p.Personel.PerSoyad</td>
                            <td>@p.PuaYil</td>
                            <td>@p.PuaAy</td>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun2">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun3">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun4">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun5">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun6">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun7">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun8">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun9">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun10">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun11">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun12">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun13">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun14">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun15">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun16">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun17">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun18">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun19">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun20">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun21">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun22">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun23">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun24">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun25">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun26">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun27">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun28">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun29">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun30">
                                </div>
                            </th>
                            <th scope="row">
                                <div class="form-check" style="text-align:center;">
                                    <input class="form-check-input" type="checkbox" id="PuaGun31">
                                </div>
                            </th>*@
                    </tr>
                }
            }
            else
            {
                <div class="card-body">
                    <h3 style="color:red;">Boş!</h3>
                </div>
            }
        </table>
    </div>
</div>

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

<script type="text/javascript">
    $('#liste').DataTable({
        "language": {

            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"

        }
    });
</script>
