@using SantiyeTakipOtomasyon.Models.Siniflar
@model List<Proje>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />

<div class="card card-default">
    <div class="card-header">
        <div class="row">
            <h5 class="card-title mb-sm-1 col-md-11">
                <strong>Proje İşlemleri</strong>
            </h5>
            <a href="#" class="btn btn-primary ekle col-md-1" data-target="@Url.Action("ModalAc", "Proje")">Yeni Kayıt</a>
        </div>
    </div>

    <!--Proje Listesi-->
    <div style="margin-left:1%; margin-right:1%">
        <br />
        <table id="liste" class="table table-bordered table-hover table-sm" style="margin-top:20px;">
            <thead>
                <tr>
                    <th style="width:5%"><small><strong>Proje Id</strong></small></th>
                    <th style="width:20%"><small><strong>Proje Adı</strong></small></th>
                    <th style="width:15%"><small><strong>Proje Adres</strong></small></th>
                    <th style="width:20%"><small><strong>Müşavir</strong></small></th>
                    <th style="width:20%"><small><strong>Yapı Denetim</strong></small></th>
                    <th style="width:5%"><small><strong>Sözleşme Tarihi</strong></small></th>
                    <th style="width:5%"><small><strong>Yer Teslim Tarihi</strong></small></th>
                    <th style="width:10%"><small><strong>İşe Başlama Tarihi</strong></small></th>
                    <th style="width:5%"><small><strong>İşin Bitiş Tarihi</strong></small></th>
                    <th style="width:10%"><small><strong>Sözleşme Bedeli(TL)</strong></small></th>
                    <th style="width:10%"><small><strong>Proje Durum</strong></small></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var p in Model)
            {
                <tr>
                    <td class="bilgi" style="cursor:pointer;cursor:hand;" data-toggle="modal" data-target="@Url.Action("ProjeBilgi", "Proje")/@p.ProjeId">
                        <small>@p.ProjeId</small>
                    </td>
                    <td class="bilgi" style="cursor:pointer;cursor:hand;" data-toggle="modal" data-target="@Url.Action("ProjeBilgi", "Proje")/@p.ProjeId">
                        <small>@p.ProAdi</small>
                    </td>
                    <td class="bilgi" style="cursor:pointer;cursor:hand;" data-toggle="modal" data-target="@Url.Action("ProjeBilgi", "Proje")/@p.ProjeId">
                        <small>@p.ProAdres @p.Ilceler.IlceAdi/@p.Iller.Sehir</small>
                    </td>
                    <td class="bilgi" style="cursor:pointer;cursor:hand;" data-toggle="modal" data-target="@Url.Action("ProjeBilgi", "Proje")/@p.ProjeId">
                        <small>@p.ProMusavir</small>
                    </td>
                    <td class="bilgi" style="cursor:pointer;cursor:hand;" data-toggle="modal" data-target="@Url.Action("ProjeBilgi", "Proje")/@p.ProjeId">
                        <small>@p.ProYapiDenetim</small>
                    </td>
                    <td class="bilgi" style="cursor:pointer;cursor:hand;" data-toggle="modal" data-target="@Url.Action("ProjeBilgi", "Proje")/@p.ProjeId">
                        <small>@string.Format("{0:dd/MM/yyyy}", p.ProSozlesmeTarihi)</small>
                    </td>
                    <td class="bilgi" style="cursor:pointer;cursor:hand;" data-toggle="modal" data-target="@Url.Action("ProjeBilgi", "Proje")/@p.ProjeId">
                        <small>@string.Format("{0:dd/MM/yyyy}", p.ProYerTeslimTarihi)</small>
                    </td>
                    <td class="bilgi" style="cursor:pointer;cursor:hand;" data-toggle="modal" data-target="@Url.Action("ProjeBilgi", "Proje")/@p.ProjeId">
                        <small>@string.Format("{0:dd/MM/yyyy}", p.ProIseBaslamaTarihi)</small>
                    </td>
                    <td class="bilgi" style="cursor:pointer;cursor:hand;" data-toggle="modal" data-target="@Url.Action("ProjeBilgi", "Proje")/@p.ProjeId">
                        <small>@string.Format("{0:dd/MM/yyyy}", p.ProIsinBitisTarihi)</small>
                    </td>
                    <td class="bilgi" style="cursor:pointer;cursor:hand;text-align:right" data-toggle="modal" data-target="@Url.Action("ProjeBilgi", "Proje")/@p.ProjeId">
                        <small>@p.ProSozlesmeBedeli.ToString("N")</small>
                    </td>
                    <td class="bilgi" style="cursor:pointer;cursor:hand;" data-toggle="modal" data-target="@Url.Action("ProjeBilgi", "Proje")/@p.ProjeId">
                        <small>@p.ProDurum.Durum</small>
                    </td>
                    <td><a href="#" class="btn btn-success btn-sm guncelle" data-target="@Url.Action("ProjeGetir", "Proje")/@p.ProjeId">Güncelle</a></td>
                </tr>
            }
        </table>
    </div>

    <div class="container">
        <!--Proje Ekle Modal -->
        <div class="modal fade" id="myModalE" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--Proje Güncelle Modal -->
        <div class="modal fade" id="myModalG" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--Proje Bilgi Modal -->
        <div class="modal fade" id="myModalB" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>


<script type="text/javascript">
    $(function () {
        $("body").on("click", ".ekle", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalE .modal-body").html(data);
                    $("#myModalE").modal("show");
                })
                .fail(function () {
                    $("#myModalE .modal-body").text("Hata!!");
                    $("#myModalE").modal("show");
                })
        });
    });
    $(function () {
        $("body").on("click", ".guncelle", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalG .modal-body").html(data);
                    $("#myModalG").modal("show");
                })
                .fail(function () {
                    $("#myModalG .modal-body").text("Hata!!");
                    $("#myModalG").modal("show");
                })
        });
    });
    $(function () {
        $("body").on("click", ".bilgi", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })
                .done(function (data) {
                    $("#myModalB .modal-body").html(data);
                    $("#myModalB").modal("show");
                })
                .fail(function () {
                    $("#myModalB .modal-body").text("Hata!!");
                    $("#myModalB").modal("show");
                })
        });
    });

    $('#liste').DataTable({
        "language": {

            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"

        }
    });
</script>
